* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  img {
    width: 100%;
  }
}

header {
  position: relative;
  z-index: 200;
}

nav {
  margin-bottom: 0.3rem;
}
.header_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg-secondary);
  border: solid var(--color-border) 2.5px;
  border-radius: 30px;
  padding: 1em 1.2em 0.5em;
  box-shadow: var(--dropshadow-mobile);
  margin-bottom: 1.5rem;

  img {
    max-width: 200px;
  }
}

.nav_flex {
  display: none;

  a {
    text-decoration: none;
    color: var(--color-text-primary);
  }
}

h1 {
  font-family: var(--font-primary);
  font-size: 64px;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: var(--font-primary);
  font-size: 32px;
}

h3 {
  font-family: var(--font-primary);
  font-size: 24px;
}

h4 {
  font-family: var(--font-primary);
  font-size: 16px;
}

p {
  font-family: var(--font-secondary);
  font-size: 16px;
}

a {
  font-family: var(--font-secondary);
}
li {
  font-family: var(--font-secondary);
}
body {
  margin: 1.5rem 1rem;
  background: var(--color-bg-primary);
}

footer {
  background: var(--color-bg-secondary);
  border: solid var(--color-border) 2.5px;
  border-radius: 30px;
  padding: 1rem 2rem;

  .footer_ul {
    font-family: var(--font-secondary);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    list-style: none;
  }
}

.ulbold {
  padding: 2em 0.5em;
}

.ulbold li {
  font-weight: 700;
  list-style: none;
  margin-bottom: 2em;

  a {
    font-family: var(--font-primary);
    text-decoration: none;
    color: var(--color-text-primary);
  }
}

.footer_line {
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: var(--color-text-primary);
  margin: 1.5rem 1rem 1.5rem 0;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 2em;
  padding: 2em 0.5em;
}

/* -----------------------FAQ -----------------------*/

.faq_section2 {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  gap: 1.2rem;
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 30px;
  border: 2.5px solid var(--color-border);
  background: var(--color-bg-secondary);
  box-shadow: var(--dropshadow-mobile);
  position: relative;
  z-index: 2;

  h3 {
    padding: 1rem 1rem 0 1rem;
  }
}
#faq_section1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
details {
  border: 2.5px solid var(--color-text-tertiary);
  border-radius: 30px;
  background-color: var(--color-bg-secondary);
  box-shadow: var(--dropshadow-mobile);
  padding: 0.4rem;

  li {
    font-family: var(--font-secondary);
  }
}

summary {
  cursor: pointer;
  padding: 1.5rem 1rem;
  color: var(--color-text-primary);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.content {
  padding: 1rem;

  p {
    margin: 0;
  }
}
.faq_img {
  border-radius: 30px;
  object-fit: cover;
  margin-top: 2rem;
}

/* -----------------------FAQ -----------------------*/

/* burgermenu */

.menu {
  text-align: right;
  list-style: none;

  a {
    text-decoration: none;
    color: var(--color-text-primary);
  }
}

.burger {
  width: 40px;
  height: 60px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2.5px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/* burgermenu */

@media (max-width: 800px) {
  /* burgermenu */
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }

  .burgernav {
    padding-right: 1em;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--color-bg-secondary);
    position: absolute;
    width: 50%;
    top: 85px;
    right: 0;
    border-radius: 30px;
    box-shadow: var(--dropshadow-mobile);
    border: solid var(--color-border) 2.5px;
    padding: 2em 1.4em;
  }

  nav.active .menu li {
    margin: 20px 20px;
    padding: 0.5em;
    list-style-type: none;
  }

  nav.active .menu a {
    font-size: 1.2em;
    text-decoration: none;
    color: var(--color-text-primary);
  }
  /* burgermenu */
  .faq_section2 {
    margin-top: -80px;
    margin-bottom: 2rem;
  }
}

@media (min-width: 801px) {
  .header_flex {
    box-shadow: var(--dropshadow-desktop);
  }

  .nav_flex {
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
    padding-right: 2em;

    a {
      font-weight: 500;
    }
  }
  .burgernav {
    display: none;
  }

  body {
    margin: 1.5rem 2.5rem;
  }

  .verticalline {
    display: block;
    width: 2px;
    background-color: var(--color-text-primary);
  }

  .footer_flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1em 0;
  }

  footer {
    box-shadow: var(--dropshadow-desktop);
  }
  .footer_line {
    display: none;
  }

  .footer_vertical {
    display: block;
    width: 2.5px;
    background-color: var(--color-text-primary);
    margin: 2em 0;
  }

  .ulbold {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    li {
      display: flex;
      flex-direction: row;
    }
  }

  #faq_section1 {
    display: flex;
    flex-direction: row;
    border-radius: 30px;

    img {
      /* max-width: 75%; */
      width: 60%;
      box-shadow: var(--dropshadow-desktop);
    }
  }
  .faq_section2 {
    z-index: 3;
    /* margin-left: -10rem; */
    gap: 2rem;
    transform: translateX(-50px);
    min-width: 44%;
    box-shadow: var(--dropshadow-desktop);

    /* position: absolute; */
  }
  .faq_img {
    border-radius: 30px;
    /* position: relative; */
  }
}

@media (min-width: 900px) {
  .nav_flex {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    padding-right: 2em;

    a {
      font-size: 1.1rem;
    }
  }
}
