/* INDEX SPECIFIK STYLING */

/* hero-unit */

.hero {
  margin-bottom: 1.5rem;

  img {
    max-width: 100%;
    border-radius: 30px;
  }
}

.cta_button_pink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  color: var(--color-text-primary);
  background: var(--cta-tertiary);
  padding: 1rem 1.5rem;
  border: solid var(--color-border) 2.5px;
  border-radius: 30px;
  max-width: fit-content;
}

.cta_flex_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3rem;
}

.hero_flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
  background: var(--color-bg-secondary);
  border: solid var(--color-border) 2.5px;
  border-radius: 30px;
  padding: 1rem 2rem 0 2rem;
  position: relative;
  z-index: 2;
  margin-top: -60px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.hero {
  border-radius: 30px;
  box-shadow: var(--dropshadow-mobile);
}

/* hero unit  */

.rollingbanner {
  background: var(--cta-quaternary);
  border: solid var(--color-border) 2.5px;
  border-radius: 30px;
  padding: 1rem 2rem;
  box-shadow: var(--dropshadow-mobile);
  text-decoration: underline;
  margin-bottom: 2rem;
}
