/* FLYT TIL GENERAL */
.header_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-bg-secondary);
  border: solid var(--color-border) 2.5px;
  border-radius: 30px;
  padding: 1rem 1rem 0.5rem;
  box-shadow: var(--dropshadow-mobile);

  img {
    max-width: 200px;
  }
}
