/* LINES */
.hr_black {
  border-top: 1px solid #4f4d4d;
}
.hr_green {
  border-top: 1px solid var(--cta-primary);
}
.hr_yellow {
  border-top: 1px solid var(--cta-quaternary);
}
.hr_blue {
  border-top: 1px solid var(--cta-secondary);
}
.hr_pink {
  border-top: 1px solid var(--cta-tertiary);
}
.pricingh3 {
  padding-bottom: 30px;
  text-align: center;
}
h1 {
  text-align: center;
}
.p_price {
  font-weight: 700;
}
.pricing_container {
  background-color: var(--color-bg-secondary);
  border-radius: 30px;
  border: 2.5px solid var(--color-border);
  padding: 30px;
  margin-bottom: 100px;

  /* box-shadow-mobile */
  box-shadow: 5px 5px 0 0 rgba(164, 156, 140, 0.7);
}
.pricing_container_div {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  padding: 18px;
}

img {
  width: 100%;
  background-color: none;
}
.pricing_container_div h3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing_text {
  width: 100%;
}
.pricing_text h3 {
  margin-top: 50px;
}
.pricing_text hr {
  margin-bottom: 20px;
}
/* DESKTOP */
@media (min-width: 1024px) {
  .pricing_grid1 {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
  }
  .pricing_grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    gap: 50px;
  }
  .flexbox_img {
    display: flex;
    align-self: center;
  }
  .headline_pricing {
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: left;
  }
}
